
*:before, *:after {
    box-sizing: border-box;
}

.container{
  width: 80%;
  padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.label{
  float: left;
  padding-top: 7px;
  margin-bottom: 0px;
 margin-right: 20px;
 width: 16.6667%;
 text-align: right;
}


@media screen and (max-width: 40em) {

.label{
  float: none;
  padding-top: 7px;
  margin-bottom: 0px;
 margin-right: 20px;
 width: 16.6667%;
 text-align: right;
}

.container{
  width: 100%;
  }
}

.marg-botm {
  margin-bottom: 15px;
}

.cotrl {

  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  display: block;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  width: 70%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}




button {
  width: 70px;
  background-color: #FBBF30;
  border: none;
  height: 21px;
  color: #fff;
}

#submit {
  width: 75%;
  margin-left:auto;
  margin-right: auto;

  height: 40px;

}

@media screen and (max-width: 40em) {

.cotrl {
  width: 100%;
    }

#submit {
  width: 100%;
 }

}

.cotrl:focus {

  outline: none;

}

*{
  box-sizing: border-box;
}



.counter{
  color: #11D448;
  font-size: 15px;
  text-align: left;
  margin-top: 5px;
}
.counter_limit{
  color: #E73718;
   font-size: 15px;
  text-align: left;
  margin-top: 5px;
}

input.invalid, textarea.invalid {
	border: 2px solid rgba(239, 61, 61, 0.65);
}

input.valid, textarea.valid {
	border: 2px solid rgba(82, 218, 82, 0.6);
}
